@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "Coolvetica";
    src: url("/fonts/coolvetica/coolvetica rg.ttf");
  }
}

:root {
  --color-purple: #18d98b;
  --color-green: #18bd98;
}

.text-purple {
  color: var(--color-purple);
}

.text-green {
  color: var(--color-green);
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slide-in-left 2s ease-out forwards;
}
